{% extends 'base.html.twig' %}

{% block content %}
    
    {% for question in questions %}
            <div>
                <p>{{question.title}}</p>
            </div>
        {% endfor %}
        
{% endblock %}
