
/* Pour fixer mon footer en bas de page, sur toute mes page */
html {
    position: relative;
    min-height: 100%;
}

/* HEADER NAV */

.nav {
    height: 140px;
    background-color: lightsteelblue;
}

.nav_div {
    display: flex;
    justify-content: space-between;
}

.nav .nav_div div img {
    width: 100px;
    margin: 20px;
}

.nav .nav_div button {
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    color: white;
    background-color: lightslategray;
}

.button_nav {
    margin: 10px;
}

.button_nav a {
    text-decoration: none;
    color: white;
}


/* HEADER TAG MENU + BUTTON ADD QUESTION */

.sous_header {
    display: flex;
    justify-content: space-between;
}

.sous_header button {
    height: 30px;
}

.button-question {
    margin: 15px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

.button-question a {
    text-decoration: none;
    color: black;
}

.button-question a:hover {
    color: black;
}


.tag_menu {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 60px;
}


.tag_menu button {
    background-color: lightslategray;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0 0 2px 2px ;
}
.tag_menu button:hover {
    background-color: lightslategray;
}

.tag_menu-link {
    display: none;
    background-color: lightslategray;
    min-width: 50px;
}

.tag_menu-link a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.tag_menu-link a:hover {
    background-color: lightgray;
}

.tag_menu:hover .tag_menu-link{
    display: block;
}

/* CONTENT PAGE INDEX ACCUEIL */

.content {
    width: 70%;
    background-color: lightgray;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 150px;
}

.content_question {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.content-flex {
    display: flex;
    justify-content: center;
}

.nb-response {
    margin: 125px 10px
}

.border {
    height: 100%;
    width: 70%;
    border: 2px solid lightslategray;
    border-radius: 3px 30px 3px 3px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.border a {
    text-decoration: none;
    color: black;
}

.question {
    height: 170px;
    display: flex;
}

.content-text-title {
    width: 65%;
}

.content-text-title h1 {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 20px;
    max-width: 100%;
    background-color: lightgray;
    text-align: center;
    font-size: 1.3em;
    padding: 0 10px 0 10px 
}

.content-text-title p {
    overflow-wrap: break-word;
    margin: 30px 10px 10px 10px
}

.content-img-tag {
    width: 35%;
    height: 100px;
    margin-left: 20px;
    border-left: 2px solid lightslategray;
    border-bottom: 2px solid lightslategray;
    border-radius: 30px 0 30px 30px;
}

.img {
    display: flex;
    margin: 15px;
}

.img img {
    width: 60px;
    height: 60px;
}

.img p {
    margin: 23px 10px 0 5px;
}

.tag {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.tag p {
    border: 1px solid lightslategray;
    border-radius: 20px;
    width: 65px;
    height: 20px;
    padding: 8px;
    text-align: center;
    margin: 3px;
}


/* CONTENT DE LA PAGE SHOW QUESTION */

.content-response {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.flex-title-tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.title-date h1 {
    font-size: 1.4em
}
.title-date p {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 8px;
}

.content-question_response {
    margin: 30px 0 0 5px;
    width: 70%;
    overflow-wrap: break-word;
}

.nb-response-question{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 0.9em;
    padding-bottom: 5px;
}

/* CONTENT PAGE SHOW RESPONSE */

.flex-responses {
    display: flex;
    width: 90%;
    margin: auto;
}

.response-text {
    margin-bottom: 40px;
}

.response-date_user {
    text-align: end;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.img-responses {
    margin-bottom: 20px;
    margin-left: 10px;
}

.img-responses img {
    width: 60px;
    height: 60px;
}



/* CONTENT FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: lightsteelblue;
}


.footer-div_text {
    text-align: center;
    padding: 30px;
}