
/* Pour fixer mon footer en bas de page, sur toute mes page */
html {
    position: relative;
    min-height: 100%;
}

/* HEADER NAV */

.nav {
    height: 50px;
    background-color: rgb(31, 28, 28);
}

.nav_div {
    display: flex;
    justify-content: space-between;
}

.nav .nav_div div a {
    text-decoration: none;
    color: white;
}

.nav .nav_div div a h1 {
    width: 50px;
    margin: 5px 20px;
    font-weight: bold;
    margin: 9px;
    font-size: 2em;
}

.button_nav {
    display: flex;
    margin-right: 15%;
}

.button_nav a {
    text-decoration: none;
    color: white;
}

.nav .nav_div button {
    
    border: none;
    font-size: 1em;
    color: white;
    background-color: rgb(31, 28, 28);
    height: 50px;
}
.nav .nav_div button:hover {
    background-color:  rgb(59, 59, 59);
}

.nav .nav_div .button-inscri {
    
    border: none;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    height: 50px;
}

.form-navbar {
    margin-right: 15px;
}

.input-form-navbar {
    border: none;
    height: 28px;
    width: 300px;
    border-radius: 4px;
    padding: 5px;
}


/* HEADER TAG MENU + BUTTON ADD QUESTION */


.sous_header button {
    height: 30px;
}

.button-question {
    margin: 8px;
    border: none;
    border-radius: 2px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(31, 28, 28);
    display: flex;
    padding-bottom: 40px;
}
.button-question:hover {
    background-color: rgb(77, 77, 77);
}

.button-question p {
    font-size: 1.5em;
    color: white;
    font-weight: normal;
    line-height: 37px;
    margin-right: 3px;
}

.button-question a {
    text-decoration: none;
    color: white;
    margin-top: 9px;
}


/* CONTENT PAGE INDEX ACCUEIL */

.content {
    width: 70%;
    background-color: black;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 150px;
    margin-top: 30px;
}


.tags-content {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.tags {
    background-color: rgb(31, 28, 28);
    height: 19px;
    font-size: 1.1em;
    margin: 5px;
    border-radius: 5px;
}

.tags a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.tag-name-content {
    margin-top: 35px;
}

.tag-name-content p {
    font-size: 1.5em;
    background-color: black;
    color: white;
    max-width: max-content;
    padding: 4px;
    border-radius: 3px;
    margin: auto;
}

.content_question {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.content-flex {
    display: flex;
    justify-content: center;
}

.nb-response {
    margin: 125px 10px
}

.border {
    height: 100%;
    width: 65%;
    border: 1px solid white;
    border-radius: 3px 30px 3px 3px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.border a {
    text-decoration: none;
    color: white;
}

.question {
    height: 170px;
    display: flex;
}

.content-text-title {
    width: 50%;
    margin-right: 80px;
}

.content-text-title h1 {
    position: absolute;
    top: -12px;
    left: 20px;
    height: 20px;
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 0 10px 0 10px 
}

.content-text-title p {
    overflow-wrap: break-word;
    margin: 30px 10px 10px 10px
}

.content-img-tag {
    width: 35%;
    height: 100px;
    margin-left: 20px;
    border-left: 2px solid lightslategray;
    border-bottom: 2px solid lightslategray;
    border-radius: 30px 0 30px 30px;
}

.img {
    display: flex;
    margin: 15px;
}

.img img {
    width: 60px;
    height: 60px;
}

.img p {
    margin: 23px 10px 0 5px;
}

.tag {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.tag p {
    border: 1px solid lightslategray;
    border-radius: 20px;
    width: 65px;
    height: 20px;
    padding: 8px;
    text-align: center;
    margin: 1px;
}


/* CONTENT DE LA PAGE SHOW QUESTION */

.content-response {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.flex-title-tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}

.title-date h1 {
    font-size: 1.4em;
    color: white;
}
.title-date p {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 8px;
    color: white;
}

.content-question_response {
    margin: 30px 0 0 5px;
    width: 70%;
    overflow-wrap: break-word;
    color: white;
}

.nb-response-question{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    font-size: 0.9em;
    padding-bottom: 5px;
    
}

/* CONTENT PAGE SHOW RESPONSE */

.flex-responses {
    display: flex;
    width: 90%;
    margin: auto;
}

.response-text {
    margin-bottom: 40px;
    color: white;
}

.response-date_user {
    text-align: end;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.img-responses {
    margin-bottom: 20px;
    margin-left: 10px;
}

.img-responses img {
    width: 60px;
    height: 60px;
}



/* CONTENT FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(31, 28, 28);
}


.footer-div_text {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
}